{# rendert die Kataloge mit den zugehörigen Angaben #}
{% trans_default_domain "tl_sources_entity" %}

{%-  set catalogs = source.getCatalogs() -%}

{%- if(catalogs) -%}
    {%- for id,catalog in catalogs -%}
        <span class="catalog{{ (catalog.provider.published and catalog.enabled) ? ' published':' unpublished' }}">
            <span class="arn-dataprovider">{{- catalog.provider.name -}} {{- catalog.provider.abbreviation ? " (#{catalog.provider.abbreviation})" -}}</span>
            {%- if(catalog.signature) -%}<span class="arn-signature">{{- catalog.signature ? ", #{catalog.signature}" -}}</span>{%- endif -%}
            {%- if(catalog.date) -%}<span class="arn-takenon">{{- catalog.date ? ", #{catalog.date}" -}}</span>{%- endif -%}
            {%- if(catalog.url) -%}<span>, <a href="{{- catalog.url -}}">Link zum Katalog</a></span>{%- endif -%}
        </span>
    {%- endfor -%}
</span>
{%- endif -%}