{# rendert die Digitalisate mit den zugehörigen Angaben #}
{% trans_default_domain "tl_sources_entity" %}

{%-  set digitalcopies = source.getDigitalcopies() -%}

{%- if(digitalcopies) -%}
    {%- for id,digitalcopy in digitalcopies -%}
        <span class="arn-digitalcopy{{ (digitalcopy.provider.published and digitalcopy.enabled) ? ' published':' unpublished' }}">
            <span class="arn-dataprovider">{{- digitalcopy.provider.name -}} {{- digitalcopy.provider.abbreviation ? " (#{digitalcopy.provider.abbreviation})" -}}</span>
            {%- if(digitalcopy.date) -%}<span class="arn-takenon">{{- digitalcopy.date ? ", #{digitalcopy.date}" -}}</span>{%- endif -%}
            {%- if(digitalcopy.url) -%}<span>, <a href="{{- digitalcopy.url -}}">Link zum Digitalisat</a></span>{%- endif -%}
        </span>
    {%- endfor -%}
</span>
{%- endif -%}