{% trans_default_domain "tl_sources_entity" %}
{# rendert alle AutorInnen als Liste #}
{% set authors = source.getAuthors() %}

{% for id,author in authors|slice(0,2) %}
    <span>{{ author.family_name }}{{ author.first_name ? ", #{author.first_name}" }}{{ (author.role)?' '~('tl_sources_entity.authors_fields.role_options.' ~ author.role)|trans([], 'contao_tl_sources_entity') }}{{ ((id|last < authors|length-1)?'; ':':') }}</span>
{% endfor %}{{ (authors|length>2)?' et al.' }}