{% use '@Contao/component/_authors.html.twig' %}
{% use '@Contao/component/_year.html.twig' %}
{% use '@Contao/component/_titles.html.twig' %}
{% use '@Contao/component/_series.html.twig' %}
{% use '@Contao/component/_publisher.html.twig' %}
{% use '@Contao/component/_metadata.html.twig' %}

<div class="source-entity">
    <div class="initiale"><img src='bundles/contaosources/img/{{ source.type }}.svg' alt="{{ source.type }}"></div>
    <div class="data">
        <div>
            {% with { 'authors': source.getAuthorsAsArray(), 'settings': settings } %}
                {{- block('authors_component') -}}
            {% endwith %}
            {{- block('year_component') -}}
            {{- block('titles_component') -}}
            {%- with { 'serie': source.getSerie(), 'publisher': source.getPublisher() } -%}
                {{- block('series_component') -}}
            {% endwith %}
            {%- with { 'publisher': source.getPublisher() } -%}
                {{- block('publisher_component') -}}
            {% endwith %}
            {{- block('metadata_component') -}}
        </div>
        <div>{{ source._imageHtml|raw }}</div>
    </div>
</div>