{% use '@Contao/component/_authors.html.twig' %}
{% use '@Contao/component/_year.html.twig' %}
{% use '@Contao/component/_titles.html.twig' %}
{% use '@Contao/component/_series.html.twig' %}
{% use '@Contao/component/_publisher.html.twig' %}
{% use '@Contao/component/_metadata.html.twig' %}

<div class="source-entity">
    <div class="data">
        <div>
            {%- if source -%}
                {%- with { 'authors': source.getAuthors() } -%}
                    {{- block('authors_component') -}}
                {%- endwith -%}
                {{- block('year_component') -}}
                {{- block('titles_component') -}}
                {%- with { 'serie': source.getSerie(), 'publisher': source.getPublisher() } -%}
                    {{- block('series_component') -}}
                {%- endwith -%}
                {%- with { 'publisher': source.getPublisher() } -%}
                    {{- block('publisher_component') -}}
                {%- endwith -%}
                {{- block('metadata_component') -}}
            {%- else -%}
                <div>{{- 'tl_sources_entity.source_not_found'|trans([], 'contao_tl_sources_entity') -}}</div>
            {%- endif -%}
        </div>
    </div>
</div>