{% trans_default_domain "tl_sources_entity" %}
{# rendert alle AutorInnen als Liste #}

{%- block authors_component -%}
    {%- set authors_attributes = attrs().addClass(settings ? settings.mode : '').addClass('authors') -%}
    <span{{- authors_attributes -}}>
    {%- if authors|length > 0 -%}
        {%- for id,author in authors -%}
            {%- set first_names = author.first_name ? ', '~author.getFirstNames() -%}
            <span class="{{- (author.published and author._enabled) ?'published':'unpublished' -}}">
                {{- author.family_name -}}{{- first_names -}}
                {%- if id+2 == authors|length -%}{{- ' & '-}}{%- elseif id+2 < authors|length -%}{{- ',' -}}{%- else -%}{%- endif -%}
            </span>
    {% endfor %}
    {%- else -%}
        <span>{{- ('tl_sources_entity.without_authors')|trans([], 'contao_tl_sources_entity') -}}&nbsp;</span>
    {%- endif -%}
    </span>
{%- endblock -%}