{% trans_default_domain "tl_sources_entity" %}
{#
    rendert Reihen mit den zugehörigen Angaben
#}

{%- block series_component -%}
    {%- if(serie) -%}&nbsp;
        {%- set series_attributes = attrs()
            .addClass(settings.mode)
            .addClass(serie.published?' published':' unpublished')
        -%}
        <span{{- series_attributes -}}>(<i>{{- serie.title -}}</i>
            {{- source.volume ? ', Bd. '~source.volume -}}
            {{- source.issue ? ', Heft '~source.issue -}}
            {{- source.volume_title ? ', '~source.volume_title -}})
        </span>
    {%- endif -%}
{%- endblock -%}