{% trans_default_domain "tl_sources_entity" %}
{#
    rendert Reihen mit den zugehörigen Angaben
#}

{%- block series_component -%}
    {%- set serie = source.getSerie() -%}
    {%- set publisher = source.getPublisher() -%}
    {%- if(serie) -%}&nbsp;
        {%- set series_attributes = attrs()
            .addClass(settings.mode)
            .addClass(serie.published?' published':' unpublished')
        -%}
        <span{{- series_attributes -}}><i>{{- serie.title -}}</i>
            {{- source.volume ? ', '~source.volume -}}
            {{- source.issue ? '('~source.issue~')' -}}
            {{- source.volume_title ? ', '~source.volume_title -}}
            {{- source.pages ? ', '~source.pages -}}.
        </span>
    {%- endif -%}
{%- endblock -%}